@namespace SampleWebApp.Components

<div class="d-flex flex-column">
    <div class="border-bottom mb-4">
        @if (string.IsNullOrEmpty(Title))
        {
            @TitleContent
        }
        else
        {
            <h2>@Title</h2>
        }

        @if (!string.IsNullOrWhiteSpace(Overview))
        {
            <p>@Overview</p>
        }
    </div>

    @ChildContent
</div>

@code 
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Overview { get; set; }

    [Parameter]
    public RenderFragment? TitleContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
