@namespace SampleWebApp.Components

<div class="d-flex flex-column">
    <div class="border-bottom mb-4">
        <div class="d-flex align-items-center gap-4">
            <h2>@Title</h2>
            @AdditionalRightContent
        </div>

        @if (!string.IsNullOrWhiteSpace(Overview))
        {
            <p>@Overview</p>
        }
    </div>

    @ChildContent
</div>

@code 
{
    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public string? Overview { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? AdditionalRightContent { get; set; }
}
