@page "/features/js-credentials"
@using Blazor.Javascript.Interop.Models

<PageTitle>Credentials</PageTitle>

<PageDocumentation Title="Credentials" Href="https://developer.mozilla.org/en-US/docs/Web/API/CredentialsContainer" SecureContext>
    <p>The CredentialsContainer interface of the Credential Management API exposes methods to request credentials and notify the user agent when events such as successful sign in or sign out happen. This interface is accessible from Navigator.credentials.</p>

    <PageDocumentationSection>
        <TitleContent>Create</TitleContent>
        <DescriptionContent>The <code>create()</code> method of the CredentialsContainer interface returns a Promise that resolves with a new credential instance based on the provided options, the information from which can then be stored and later used to authenticate users via <code>navigator.credentials.get()</code>.</DescriptionContent>
        <ActionsContent>
            <button id="credentials-create-button" class="btn btn-primary btn-wide" @onclick="CreateAsync">Create</button>
        </ActionsContent>
    </PageDocumentationSection>
</PageDocumentation>

@code
{
    [CascadingParameter]
    public required JSWindow Window { get; set; }

    public async Task CreateAsync() => await Window.Navigator.Credentials.CreateAsync(new PasswordCredentialOptions("username", "new-password"));
}