@page "/features/navigator"

<PageTitle>Navigator</PageTitle>

<Container Title="Navigator" Overview="The Navigator interface represents the state and the identity of the user agent. It allows scripts to query it and to register themselves to carry on some activities.">
    <Section Title="Bluetooth" Href="features/bluetooth" Overview="The bluetooth read-only property of the Navigator interface returns a Bluetooth object for the current document, providing access to Web Bluetooth API functionality.">
        <Icons>
            <ExperimentalIcon /> 
            <SecureContextIcon />
        </Icons>
     </Section>

    <Section Title="Clipboard" Href="features/clipboard" Overview="The clipboard read-only property of the Navigator interface returns a Clipboard object used to read and write the clipboard's contents.">
        <Icons>
            <SecureContextIcon />
        </Icons>
     </Section>

    <Section Title="Geolocation" Href="features/geolocation" Overview="The geolocation read-only property returns a Geolocation object that gives Web content access to the location of the device. This allows a website or app to offer customized results based on the user's location.">
        <Icons>
            <SecureContextIcon />
        </Icons>
     </Section>
</Container>