@namespace Blazor.Javascript.Interop.Documentation.Components

<div class="prose prose-sm !max-w-full p-4 md:prose-base">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}