@namespace Blazor.Javascript.Interop.Documentation.Components

<div class="flex items-baseline gap-4">
    <h2> @TitleContent </h2>

    @if (Experimental)
    {
        <i class="fa-solid fa-flask fa-lg text-primary" />
    }

    @if (SecureContext)
    {
        <i class="fa-solid fa-shield fa-lg text-primary" />
    }
</div>

<p> @DescriptionContent </p>

<div class="flex flex-wrap items-center gap-2">
    @ActionsContent
</div>

@code 
{
    [Parameter]
    public RenderFragment? TitleContent { get; set; }

    [Parameter]
    public RenderFragment? DescriptionContent { get; set; }

    [Parameter]
    public RenderFragment? ActionsContent { get; set; }

    [Parameter]
    public bool Experimental { get; set; }

    [Parameter]
    public bool SecureContext { get; set; }
}
